<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>قالب البريد الإلكتروني لإعادة تعيين كلمة المرور</title>
  <meta name="description" content="قالب البريد الإلكتروني لإعادة تعيين كلمة المرور.">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Reem+Kufi+Fun:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

    body, h1, p, a {
      font-family: "Rubik", serif;
    }

    a:hover {
      text-decoration: underline !important;
    }

    a:active {
      background: #8f5600 !important;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8">
  <tr>
    <td>
      <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
             align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>

        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                   style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0 35px;">
                  <h1 style="color:#1e1e2d; font-weight:500; margin:0; font-size:34px; line-height:50px; ">
                    تلقيت هذا البريد الإلكتروني لأنك (أو شخصٌ ما) طلب إعادة تعيين كلمة المرور لحسابك</h1>
                  <span
                    style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                  <p style="color:#455056; font-size:17px;line-height:24px; margin:0;">
                    لا يمكننا ببساطة إرسال كلمة المرور القديمة لك. تم إنشاء رابط فريد لإعادة تعيين كلمة المرور الخاصة
                    بك. أضغط على الرابط التالي واتبع التعليمات.
                  </p>
                  <p style="font-size:6px;"></p>
                  <p style="color:#768188; font-size:12px;line-height:24px; margin:0;">
                    إذا لم تطلب هذا، يرجى تجاهل هذا البريد الإلكتروني وسوف تبقى كلمة المرور الخاصة بك كما هي.
                  </p>
                  <a href="{{url}}/reset-password/{{token}}"
                     style="background:#dd8500;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;transition:0.3s;">إعادة
                    تعيين كلمة المرور</a>
                </td>
              </tr>
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>

        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--/100% body table-->
</body>

</html>